version 2.3 © Morgan McKnight

# Python - Lesson 9 Mathplotlib (Part a)
https://matplotlib.org/
<blockquote>In this lesson we will learn how to use the library matplotlib to plot graphs</blockquote>
<blockquote>"What do the peaks in this graph represent?</blockquote>
 <img src="images/facebook.png" alt="If" width = "800px">

## A Simple Plot
We wish to plot the salaries of developers versus their age.

In [ ]:
# import the library
# import mathplotlib
from matplotlib import pyplot as plt

In [ ]:
# Get the x and y values. 

# Developer ages (x-axis)
dev_x = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

# Developer wages (y-axis) median
dev_y = [38496, 42000, 46752, 49320, 53200,
         56000, 62316, 64928, 67317, 68748, 73752]

In [ ]:
#Simple Plot
plt.plot(dev_x, dev_y)

Improve the graph by adding title and label.

In [ ]:
plt.title('Median Salary(€)', size = 15)
plt.xlabel('Developer Ages')
plt.ylabel('Median Salary')
#Plot the graph
plt.plot(dev_x, dev_y)

Now we look at the salaries of Python only developers.

In [ ]:
# Median Python Developer Salaries by Age
py_dev_x = [25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]
py_dev_y = [45372, 48876, 53850, 57287, 63016,
            65998, 70003, 70000, 71496, 75370, 83640]

In [ ]:
plt.bar(py_dev_x,py_dev_y)

Compare the two sets of data in the same graph.

In [ ]:
# Plot two sets of data on the one graph
plt.plot(dev_x, dev_y)
plt.plot(dev_x, py_dev_y)

#Titles etc.
plt.title('Median Salary(€)')
plt.xlabel('Developer Ages')
plt.ylabel('Average Salary')
plt.legend()

In [ ]:
# Plot two sets of data on the one graph with labels
plt.plot(dev_x, dev_y, label = 'All Devs')
plt.plot(dev_x, py_dev_y, label = 'Python Devs')
plt.title('Median Salary(€)')
plt.xlabel('Developer Ages')
plt.ylabel('Average Salary')
plt.legend()

Plot types and styling.

In [ ]:
# Setting Plot types and configuration
plt.bar(dev_x, dev_y, color = 'g',  label = 'All Devs')
plt.plot(dev_x, py_dev_y, linestyle ='--', color = 'b', label = 'Python Devs') # dashed line red
plt.title('Median Salary(€)')
plt.xlabel('Developer Ages')
plt.ylabel('Average Salary')
# Legend Position
plt.legend(loc="upper left")

plt.savefig('images/developers.jpeg')

## MAQ 1: Waxing Hot and Cold
The following lists have the temperature values taken from the Phoenix Park weather station in 2019. Plot the three lists on a line graph. using plt.plot(...). Try the same using bar graphs-what is the problem?

```python
month =  ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
mean_temp  = [5.7,7.7,7.9,8.7,11.4,13.3,16.8,16.2,13.7,9.8,6.6,6.3]
max_temp  = [11.5,16.6,17.7,22.1,21.7,24.1,26.6,23.4,22.1,17.1,14,14.2]
min_temp = [-3.9,-3,1.2,0.2,0.5,3.8,6.9,7.8,5.1,-1.1,1.7,-1.9]

```

# Add your answer here

In [ ]:
# Add your Answer Here

month =  ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
mean_temp  = [5.7,7.7,7.9,8.7,11.4,13.3,16.8,16.2,13.7,9.8,6.6,6.3]
max_temp  = [11.5,16.6,17.7,22.1,21.7,24.1,26.6,23.4,22.1,17.1,14,14.2]
min_temp = [-3.9,-3,1.2,0.2,0.5,3.8,6.9,7.8,5.1,-1.1,1.7,-1.9]


plt.bar(month, mean_temp, linestyle ='--', color = 'b', label = 'Mean Temp')
plt.bar(month, max_temp, color = 'r', label = 'Max Temp')
plt.bar(month, min_temp, color = 'y', label = 'Min Temp')

plt.legend(loc="upper right")

## Styling and Saving
In this section we will see how to use different styles and layouts with your graphs and how to save graphs as images.

In [ ]:
print(plt.style.available)

In [ ]:
plt.style.use('Solarize_Light2')

In [ ]:
# Add your answer here
from matplotlib import pyplot as plt
# plt.style.use('Solarize_Light2')
import numpy as np
plt.rcParams['figure.figsize'] = [10, 6]

month =  ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", 
          "Aug", "Sept", "Oct", "Nov", "Dec"]
mean_temp  = [5.7,7.7,7.9,8.7,11.4,13.3,16.8,16.2,13.7,9.8,6.6,6.3]
max_temp  = [11.5,16.6,17.7,22.1,21.7,24.1,26.6,23.4,22.1,17.1,14,14.2]
min_temp = [-3.9,-3,1.2,0.2,0.5,3.8,6.9,7.8,5.1,-1.1,1.7,-1.9]

x_indices = np.arange(len(month))
width = 0.25
plt.style.use('seaborn-white')

plt.bar(x_indices - width, max_temp, width = width, label = 'Maximum Temp')
plt.bar(x_indices ,  mean_temp, width = width,  label = 'Mean Temp')
plt.bar(x_indices + width, min_temp, width = width, label = 'Minimum Temp')


plt.title('Temp Phonex Park 2019')
plt.xlabel('Month')
plt.ylabel('Tempreture')
plt.grid(True)
plt.legend()
plt.savefig('developers.jpg')

**Note:**
How to save a figure in Jupyter Notebooks.

<code>plt.savefig('developers.png')</code>

In [ ]:
# plt.savefig('developers.jpg')

## Pandas and Mathplotlib
For this excercise you will need to install a library called Folium.

<code>$ pip install folium</code>

<code>$ conda install folium -c conda-forge</code>

In [ ]:
# pip install folium

In [1]:
# import the list of stations (again)
import pandas as pd
df = pd.read_csv("data/StationDetails.csv")
df.head(3)

,County,Station Number,name,Height (m),Easting,Northing,Latitude,Longitude,Open Year,Close Year
0,Cork,5704,AHERLAMORE,122,150000,66600,51.843,-8.722,1985,NaN
1,Cork,1203,ALLIHIES G.S.,58,58700,45400,51.639,-10.038,1950,1969.0
2,Cork,306,ARAGLEN G.S.,94,192700,106100,52.204,-8.104,1944,1958.0

In [2]:
filt = (df['County']=='Offaly') & (df['Height (m)']< 500)

In [3]:
df = df[filt]

In [4]:
df.columns

Index(['County', 'Station Number', 'name', 'Height (m)', 'Easting', 'Northing',
       'Latitude', 'Longitude', 'Open Year', 'Close Year'],
      dtype='object')

In [5]:
df

,County,Station Number,name,Height (m),Easting,Northing,Latitude,Longitude,Open Year,Close Year
1000,Offaly,622,BALLYCUMBER (BELAIR),91,217800,231500,53.333,-7.733,1923,1946.0
1001,Offaly,722,BALLYCUMBER (BOHER SCH.),67,218700,230600,53.322,-7.718,1947,1951.0
1002,Offaly,3122,BALLYCUMBER (BORD NA MONA),62,218800,232900,53.341,-7.717,1984,2000.0
1003,Offaly,922,BALLYCUMBER G.S.,52,220900,230700,53.322,-7.685,1952,1956.0
1004,Offaly,1719,BANAGHER (CANAL HSE.),37,200400,216000,53.190,-7.990,1928,2015.0
1005,Offaly,6319,BANAGHER MALTING COMPANY,46,201500,213600,53.171,-7.973,1984,2005.0
1006,Offaly,3322,BELMONT MILLS,46,206800,221800,53.241,-7.892,1986,2004.0
1007,Offaly,822,BELMONT O.P.W.,49,207200,222000,53.242,-7.888,1948,1951.0
1008,Offaly,919,BIRR (JOHN'S MALL),57,206300,204900,53.090,-7.903,1939,1955.0
1009,Offaly,119,BIRR CASTLE,56,205000,204900,53.090,-7.922,1862,1939.0
1010,Offaly,2522,BLACKWATER (BORD NA MONA),49,200200,225300,53.273,-7.992,1962,2005.0
1011,Offaly,2322,BOORA,58,218000,219700,53.223,-7.725,1950,2006.0
1012,Offaly,4919,Birr,72,207400,204400,53.087,-7.887,1954,2009.0
1013,Offaly,322,CLARA (TRANS.STN.),67,225300,223100,53.342,-7.618,1942,1956.0
1014,Offaly,2714,CLONBULLOGE G.S.,70,261000,223500,53.255,-7.085,1946,1971.0
1015,Offaly,7429,CLONMACNOISE,46,200932,230635,53.322,-7.985,2012,NaN
1016,Offaly,1614,CLONSAST (BORD NA MONA),73,253500,216000,53.188,-7.200,1937,1989.0
1017,Offaly,4831,CORBETSTOWN,80,255500,240000,53.404,-7.160,1997,NaN
1018,Offaly,1714,DAINGEAN G.S.,78,247200,227100,53.288,-7.288,1942,1992.0
1019,Offaly,2622,DERRINLOUGH (BORD NA MONA),61,208200,214600,53.176,-7.873,1970,1994.0
1020,Offaly,3431,DERRYGREENAGH,90,249300,238200,53.388,-7.255,1955,NaN
1021,Offaly,6314,EDENDERRY (BALLINLA),91,258300,231600,53.325,-7.122,1990,NaN
1022,Offaly,1514,EDENDERRY (THE TUNNEL),81,264400,231300,53.323,-7.033,1931,1989.0
1023,Offaly,314,EDENDERRY (TUBBERDALY),101,252200,231700,53.333,-7.217,1923,1944.0
1024,Offaly,3231,EDENDERRY G.S.,85,262700,232500,53.337,-7.055,1951,1999.0
1025,Offaly,1822,FERBANE G.S.,47,211300,224400,53.268,-7.825,1942,1986.0
1026,Offaly,3422,GEASHILL,85,245339,220849,53.235,-7.320,2002,NaN
1027,Offaly,3522,HORSELEAP,72,227927,236940,53.376,-7.575,2007,NaN
1028,Offaly,1522,KILCORMAC G.S.,64,218200,213900,53.172,-7.723,1942,1989.0
1029,Offaly,5619,KINNITTY CASTLE,143,220300,205800,53.102,-7.692,1962,1994.0
1030,Offaly,2019,KINNITTY G.S.,110,218600,205500,53.100,-7.720,1942,1985.0
1031,Offaly,2422,LEMANAGHAN (BORD NA MONA),55,215200,225900,53.283,-7.770,1962,1989.0
1032,Offaly,1519,MEELICK (VICTORIA LOCK),39,194600,212900,53.167,-8.075,1907,NaN
1033,Offaly,4119,MONEYGALL G.S.,125,203200,181100,52.875,-7.952,1943,1984.0
1034,Offaly,1622,MOUNTBOLUS G.S.,100,224900,216400,53.192,-7.623,1942,1966.0
1035,Offaly,1722,RAHAN G.S.,54,225000,225600,53.275,-7.622,1942,1970.0
1036,Offaly,2231,RHODE G.S.,94,253600,233600,53.350,-7.190,1944,1985.0
1037,Offaly,2119,SHANNONBRIDGE G.S.,41,196900,225300,53.273,-8.042,1942,1974.0
1038,Offaly,3619,SHINRONE G.S.,70,204500,192500,52.983,-7.933,1943,1994.0
1039,Offaly,1422,TULLAMORE G.S.,58,233700,225100,53.272,-7.490,1942,1985.0
1040,Offaly,2822,TULLAMORE MUCKLAGH N.S.,69,230600,222400,53.251,-7.538,1973,1982.0
1041,Offaly,222,TURRAUN (BORD NA MONA),50,216900,223400,53.257,-7.742,1913,1962.0

In [ ]:
location=[df.iloc[3]['Latitude'], df.iloc[3]['Longitude']]
print(location)

In order to map your data you will have to install an external library called Folium. You can install the library from terminal using **pip install folium** or you can install it from Juypter Notebooks using **!pip install folium**

In [ ]:
# !pip install folium

In [ ]:
#Ireland Map
import folium

ireland_map = folium.Map(
    location=[53.43333, -7.95],
    tiles='Stamen Terrain',
    zoom_start=6,
    width=600,
    height=700
)

In [ ]:
ireland_map

In [ ]:
print(len(df))

In [ ]:
for i in range(0,len(df)):
    folium.Marker(
    location=[df.iloc[i]['Latitude'], df.iloc[i]['Longitude']]
    ).add_to(ireland_map)

In [ ]:
#Call map
ireland_map

In [ ]:
for i in range(0,len(df)):
    height = str(df.iloc[i]['Height (m)'])
    folium.Marker(
    location=[df.iloc[i]['Latitude'], df.iloc[i]['Longitude']],
    
    tooltip = "<div style='margin: 1; background-color: yellow; color: black;'>"+
                    "<h5 style='text-align:center;font-weight: normal'>"+ height + "</h5>"+
         "<h5 style='text-align:center;font-weight: bold'>"+df.iloc[i]['name'] + "</h5>"+
        "<h5 style='text-align:center;font-weight: bold'>"+ str(df.iloc[i]['Open Year']) + "</h5>"
        "</div>",
   ).add_to(ireland_map)

In [ ]:
#Call map
ireland_map

## SAQ 2: Where is the Weather
Map the stations in your favorite county and add more tooltips than above.

In [ ]:
# Add your answer here...

## SAQ 3: Irish Attractions
Download the CSV file from this location: https://data.gov.ie/dataset/attractions
Map all the attractions with their name and locations as tool-tips.

In [ ]:
# Put your answer here.

In [ ]:
df

**Phew!** <div>
<img src="images/the_end.png" alt="The End" width="300" align="center"/></div>